# Data Cleaning with Pandas

<strong>Objective:</strong> The objective is to clean the data from the excel file such that it can then be passed on to the call center department where the reps can call each customer.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("Customer Call List.xlsx")
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True

In [4]:
#Dropping duplicates
#This should drop row index 20 since its a duplicate of index 19
df = df.drop_duplicates()

In [5]:
#Dropping the "Not_Useful_Column" as its not needed for our purpose
df = df.drop("Not_Useful_Column", axis=1)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

## Last_Name

In [6]:
#Gettting rid of any non-string characters in Last_Name
df["Last_Name"] = df['Last_Name'].str.replace(r'[^a-zA-Z]+', '', regex=True)
df["Last_Name"]

0        Baggins
1          Nadir
2          White
3        Schrute
4           Snow
5        Swanson
6         Winger
7         Holmes
8            NaN
9         Parker
10        Gamgee
11        Potter
12        Draper
13         Knope
14    Flenderson
15       Weasley
16         Scott
17          Kent
18        Braton
19     Skywalker
Name: Last_Name, dtype: object

## Phone_Number

The next column that needs cleaning is the "Phone_Number" column. This column has some missing phone numbers, since we can't call these customers, it makes sense to drop null values before cleaning the rest of the values. Before I can use the "dropna()" method, I need to convert "N/a" into Null values.

In [7]:
df["Phone_Number"] = df["Phone_Number"].replace("N/a", np.nan)
df["Phone_Number"]

0     123-545-5421
1     123/643/9775
2       7066950392
3     123-543-2345
4     876|678|3469
5     304-762-2467
6              NaN
7     876|678|3469
8              NaN
9     123-545-5421
10             NaN
11      7066950392
12    123-543-2345
13    876|678|3469
14    304-762-2467
15    123-545-5421
16    123/643/9775
17      7066950392
18             NaN
19    876|678|3469
Name: Phone_Number, dtype: object

In [8]:
#Dropping the null values from the "Phone_Number" column.
df = df.dropna(subset=['Phone_Number'])

In [9]:
#To clean the data in the "Phone_Number" column, its the same process as the "Last_Name" column, the only difference is that
#I will get rid of any characters that is not numeric. Also converting this column to a string so that is iterable - needed for the next step
df["Phone_Number"] = df["Phone_Number"].replace('[^0-9]', "", regex=True).astype("string")

C:\Users\obaid\AppData\Local\Temp\ipykernel_2248\388874792.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Phone_Number"] = df["Phone_Number"].replace('[^0-9]', "", regex=True).astype("string")

In [10]:
#Last thing to do with the "Phone_Number" column is to format it in the following format: xxx-xxx-xxxx
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])
df["Phone_Number"]

C:\Users\obaid\AppData\Local\Temp\ipykernel_2248\3788179761.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Phone_Number"] = df["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])

0     123-545-5421
1     123-643-9775
2     706-695-0392
3     123-543-2345
4     876-678-3469
5     304-762-2467
7     876-678-3469
9     123-545-5421
11    706-695-0392
12    123-543-2345
13    876-678-3469
14    304-762-2467
15    123-545-5421
16    123-643-9775
17    706-695-0392
19    876-678-3469
Name: Phone_Number, dtype: object

## Address

The main problem in the address column is that it contains 3 pieces of information:
1. Street address,
2. City, 
3. Postal code.

It's best to seperate these into 3 separate columns.

In [11]:
#Creating 3 new columns based off of "Address" column.
df[['Street_Address', 'State', 'Postal_Code']] = df['Address'].str.split(',', expand=True)
#Deleting address column since we alraedy have this info in the 3 new columns.
df.drop(columns=['Address'], inplace=True)
df

C:\Users\obaid\AppData\Local\Temp\ipykernel_2248\788838571.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Street_Address', 'State', 'Postal_Code']] = df['Address'].str.split(',', expand=True)
C:\Users\obaid\AppData\Local\Temp\ipykernel_2248\788838571.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Street_Address', 'State', 'Postal_Code']] = df['Address'].str.split(',', expand=True)
C:\Users\obaid\AppData\Local\Temp\ipykernel_2248\788838571.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Street_Address', 'State', 'Postal_Code']] = df['Address'].str.split(',', expand=True)
C:\Users\obaid\AppData\Local\Temp\ipykernel_2248\788838571.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Address'], inplace=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Postal_Code
0,1001,Frodo,Baggins,123-545-5421,Yes,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-9775,No,Yes,93 West Main Street,None,None
2,1003,Walter,White,706-695-0392,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-2345,Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,Y,No,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768 City Parkway,None,None
7,1008,Sherlock,Holmes,876-678-3469,N,No,98 Clue Drive,None,None
9,1010,Peter,Parker,123-545-5421,Yes,No,25th Main Street,New York,None
11,1012,Harry,Potter,706-695-0392,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-543-2345,Yes,N,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-3469,Yes,No,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-2467,N,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-5421,No,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-9775,Yes,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,706-695-0392,Y,NaN,3498 Super Lane,None,None
19,1020,Anakin,Skywalker,876-678-3469,Yes,N,910 Tatooine Road,Tatooine,None

## Paying Customer

"Paying Customer" can take on 2 possible values: Yes and No. I will simply change the values to a standard format of 'Y' for Yes and 'N' for No.

In [12]:
#Converting all "Yes" and "No" values to "Y" and "N" .
df["Paying Customer"] = df["Paying Customer"].replace({"Yes": "Y", "No": "N"})

C:\Users\obaid\AppData\Local\Temp\ipykernel_2248\4084547105.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Paying Customer"] = df["Paying Customer"].replace({"Yes": "Y", "No": "N"})

## Do_Not_Contact

This column has the same issue as "Paying Customer" therefore I will repeat the same process.

In [13]:
#Converting all "Yes" and "No" values to "Y" and "N" .
df["Do_Not_Contact"] = df["Do_Not_Contact"].replace({"Yes": "Y", "No": "N"})

C:\Users\obaid\AppData\Local\Temp\ipykernel_2248\2962954180.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Do_Not_Contact"] = df["Do_Not_Contact"].replace({"Yes": "Y", "No": "N"})

In [14]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Postal_Code
0,1001,Frodo,Baggins,123-545-5421,Y,N,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-9775,N,Y,93 West Main Street,None,None
2,1003,Walter,White,706-695-0392,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-2345,Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,Y,N,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-2467,Y,Y,768 City Parkway,None,None
7,1008,Sherlock,Holmes,876-678-3469,N,N,98 Clue Drive,None,None
9,1010,Peter,Parker,123-545-5421,Y,N,25th Main Street,New York,None
11,1012,Harry,Potter,706-695-0392,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-543-2345,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-3469,Y,N,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-2467,N,N,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-5421,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-9775,Y,N,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,706-695-0392,Y,NaN,3498 Super Lane,None,None
19,1020,Anakin,Skywalker,876-678-3469,Y,N,910 Tatooine Road,Tatooine,None

## End of cleaning individual columns
At this point, I have gone through each individual column and made the necessary adjustments. The last few things that I would like to do includes:

1. Replacing Null values with an empty string.
2. The objective of this project was to present a call list for the call center. All the customers that have a "Y" under "Do_Not_Contact" should not be contacted therefore it doesn't make sense to keep it for our purpose.
3. For rows where it is not specified whether the customer wants to be contacted or not, I will treat them as a "Y" (don't contact them) for this use case.

In [21]:
#Replacing Null values with an empty string
df = df.fillna("")

In [22]:
#Dropping customers have a "Y" under "Do_Not_Contact"
df = df[df['Do_Not_Contact'] == "N"]

In [23]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Postal_Code
0,1001,Frodo,Baggins,123-545-5421,Y,N,123 Shire Lane,Shire,
4,1005,Jon,Snow,876-678-3469,Y,N,123 Dragons Road,,
7,1008,Sherlock,Holmes,876-678-3469,N,N,98 Clue Drive,,
9,1010,Peter,Parker,123-545-5421,Y,N,25th Main Street,New York,
12,1013,Don,Draper,123-543-2345,Y,N,2039 Main Street,,
13,1014,Leslie,Knope,876-678-3469,Y,N,343 City Parkway,,
14,1015,Toby,Flenderson,304-762-2467,N,N,214 HR Avenue,,
15,1016,Ron,Weasley,123-545-5421,N,N,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,123-643-9775,Y,N,121 Paper Avenue,Pennsylvania,
19,1020,Anakin,Skywalker,876-678-3469,Y,N,910 Tatooine Road,Tatooine,

## Final touches
At this point I have formatted the data into a easily-readable version, and it also meets the objective which was to produce a list of customers that the call center reps could call.

The final thing I will do before finishing this task is to reset the index so that it is in chronological order.

In [24]:
df.reset_index()

,index,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Postal_Code
0,0,1001,Frodo,Baggins,123-545-5421,Y,N,123 Shire Lane,Shire,
1,4,1005,Jon,Snow,876-678-3469,Y,N,123 Dragons Road,,
2,7,1008,Sherlock,Holmes,876-678-3469,N,N,98 Clue Drive,,
3,9,1010,Peter,Parker,123-545-5421,Y,N,25th Main Street,New York,
4,12,1013,Don,Draper,123-543-2345,Y,N,2039 Main Street,,
5,13,1014,Leslie,Knope,876-678-3469,Y,N,343 City Parkway,,
6,14,1015,Toby,Flenderson,304-762-2467,N,N,214 HR Avenue,,
7,15,1016,Ron,Weasley,123-545-5421,N,N,2395 Hogwarts Avenue,,
8,16,1017,Michael,Scott,123-643-9775,Y,N,121 Paper Avenue,Pennsylvania,
9,19,1020,Anakin,Skywalker,876-678-3469,Y,N,910 Tatooine Road,Tatooine,